body.bg-beige {
  background-color: #dad8d4; /* 少し濃いベージュ */
}
.request-approval-show {
    width: 90%;
  width: 900px;    /* 横幅を広くする */
  margin: 0 auto;      /* 中央寄せ */
}
.request-approval__show__heading{
 border-left: 4px solid #000;  /* 左に黒ライン */
    padding-left: 10px; 
}
.request-approval__table{
    background-color: #fff;          /* 背景白 */
  border-radius: 10px;             /* 角をやや丸く */
  padding: 0%;
  max-width: 900px;
  margin: 0 auto 20px auto; 
  width: 900px;  
   height: 555px;
   position: relative;

}
.request-approval__table table {
  width: 100%;
  height: 100%;  
  border-collapse: collapse; 
  table-layout: fixed;
}
.request-approval__table th {
  padding: 16px 40px; 
  font-weight: 400;
  width: 250px;  
  text-align:left;
height: 60px;   
}
.request-approval__table td {
  padding: 16px 15px;   /* 上下を広げる（16px）・左右は15px */
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
height: 60px;   
}
.request-approval__table td[colspan="3"] {
  display: flex;
  align-items: center;
  gap: 24px;             /* 横方向のゆとり */
  justify-content: flex-start;
  vertical-align: middle;

}

.request-approval__table tr {
  border-bottom: 1px solid #ddd; /* 各行の下に線 */
height: 80px;
}
.request-approval__table .att-date__year,
.request-approval__table .att-date__md {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}
.request-approval__table .att-date__year { margin-right: 48px; } /* 画像の空きに近づける */

.request-approval__table input[type="time"],
.request-approval__table input[type="text"] {
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 140px;   
  line-height: 40px;
  padding: 0 12px;
  text-align: center;
}
.request-approval__table button[type="submit"],.user-request-approval__button .btn-secondary  {
  position: static;        /* 絶対配置を解除 */
  display: block;   
  background-color: #333;
  color: #fff;
  border: none;
  margin: 18px 0 0 auto; 
  padding: 10px 28px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer; 
}

.user-request-approval__button .btn-secondary {
  background-color: #555; /* 濃いグレー */
  cursor: not-allowed;
}

.request-approval__table td[colspan="3"] input[name="reason"] {
  flex: 0 0 auto;
  width: 300px;
  height: 52px;        /* 48〜64で調整 */
  font-size: 16px;     /* 18〜22で調整 */
  font-weight: 700;
  padding: 0 16px;
}

.request-approval__messages{
     position: absolute;
     top: 580px;
  left: 590px;
  background: transparent;
  border: none;
  padding: 0;
  color: #e60000; /* 赤 */
}

.request-approval__messages p {
  margin: 0;
}